<p style="color: green"><%= notice %></p>

<%= render @to_do_list %>

<div>
  <%= link_to "Edit this to do list", edit_to_do_list_path(@to_do_list) %> |
  <%= link_to "Back to to do lists", to_do_lists_path %>

  <%= button_to "Destroy this to do list", @to_do_list, method: :delete %>
</div>
